<a href="https://colab.research.google.com/github/adhithyapshaji/Python/blob/main/circle_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2)display future leap years from current year to a final year entered by user?

In [ ]:
s=int(input("enter staring year"))
e=int(input("enter ending year"))
print("leap years between",s,"and",e)
while (s<=e):
    if ((s%400==0) or ((s%4==0) and (s%100!=0))):
     print(s)
    s=s+1

enter staring year2000
enter ending year2021
leap years between 2000 and 2021
2000
2004
2008
2012
2016
2020

3)(c)form a list of vowels selected from a given word?

In [ ]:
word=input("enter a word:")
vowels=['a','e','i','o','u']
list=[]
for x in word:
  if(x in vowels and x not in list):
    list.append(x)
print("vowels present in the given word is: ",list)

enter a word:morning
vowels present in the given word is:  ['o', 'i']

4)count the occurrence of each wor in aline of text?

In [ ]:
def word counts(txt):
  count=dict()
  words=txt.split()
  for word in words:
   if word in counts:
      counts[word]+=1
   else:
      counts[word]=1
      return counts
  print(word count('the quick brown fox jumps over the lazy dog.'))

SyntaxError: ignored

In [ ]:
def word counts(str):
counts= dict()
words=str.split()
for word in words:
if word in counts:
counts[word]+=1
else:
counts[word]=1
return counts
print( word count(‘the quick brown fox jumps over the lazy dog.’))

SyntaxError: ignored

10)Accept the radius from user an d find area of circle?

In [ ]:
from mat
h import pi
r=float(input("enter the radius of circle: "))
print("area of the circle is:"+str(pi *r**2))

enter the radius of circle: 5
area of the circle is:78.53981633974483

11.find the biggest among 3 numbers?

In [ ]:
num1=float(input("enter first number:"))
num2=float(input("enter second number:"))
num3=float(input("enter third number:"))
if(num1>num2)and (num1>num3):
  largest=num1

elif(num2>num1)and(num2>num3):
    largest=num2
else:
      largest=num3
print("the largest number is",largest)

enter first number:10
enter second number:15
enter third number:11
the largest number is 15.0

20)from a list of intergers,create a list removing even number?

In [ ]:
num=[2,5,8,120,12,15,25,44,20,27]
num=[x for x in num if x%2!=0]
print(num)

[5, 15, 25, 27]

13) create a list of colors from comma-separated color names entered by user.Display first and last colors.

In [ ]:
color_list=["red","rose","white","pink","green"]
print("%s%s"%(color_list[0],color_list[-1]))

redgreen

14)accept an integer n and compute n+nn+nnn.

In [ ]:
a=int(input("input an integer:"))
n1= int("%s"% a)
n2= int("%s%s"% (a,a))
n3= int ("%s%s%s"% (a,a,a))
print(n1+n2+n3)

input an integer:12
122436

16)create a string from given string where first and last characters exchanged

In [ ]:
def chars_mix_up(a,b):
  new_a = b[:2]+a[2:]
  new_b =a[:2]+b[2:]
  return new_a + ''+new_b 
  print(chars_mix_up('abc','xyz'))

17)Sort dictionary in ascending and descending order.

In [ ]:
import operator
d={1:2,3:4,4:3,2:1,0:0}
s=sorted(d.items(),key=operator.itemgetter(1))
print('ascending order:',s)
s1=dict(sorted(d.items(),key=operator.itemgetter(1),reverse=True))
print('descending order:',s1)

ascending order: [(0, 0), (2, 1), (1, 2), (4, 3), (3, 4)]
descending order: {3: 4, 4: 3, 1: 2, 2: 1, 0: 0}

18)merge two dictionaries

In [ ]:
def Merge(dict1, dict2):
  return(dict2,update(dict1)) 
  dict1={'a':10,'b':8}
  dict2={'d':6,'c':4}
  print(Merge(dict1,dict2))
  print(dict2)

19)find gud of 2 nummbers.

In [ ]:
print("The gud of 60 and 48 is:", end="")
print(math.gcd(60,48))

The gud of 60 and 48 is:

NameError: ignored