<a href="https://colab.research.google.com/github/adhithyapshaji/Python/blob/main/cycle2_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1)print your address

In [ ]:
strl=str(input("enter the address::"))
print(strl)

enter the address::punchavallil(H)
punchavallil(H)

3)a)Generate positive list of numbers from a given list of integers

In [ ]:
mylist=[25,11,45,63,89]
print("first list:",mylist)
newlist=[x for x in mylist if x>0]
print("newlist:",newlist)

first list: [25, 11, 45, 63, 89]
newlist: [25, 11, 45, 63, 89]

b) square of N numbers

In [ ]:
mylist=[2,3,5,8,6,3,]
print("first list:",mylist)
newlist=[number**2 for number in mylist]
print("newlist:",newlist)

first list: [2, 3, 5, 8, 6, 3]
newlist: [4, 9, 25, 64, 36, 9]

5)Prompt the user for a list of integers. For all values greater than 100, store ‘over’ instead

In [ ]:
x=[]
n=int(input("enter any integers :"))
for i in range(1,n+1):
  a=int(input())
  if (a>100):
    x.append('over')
  else:
    x.append(a)
print("modified list :" ,x)

enter any integers :4
40
60
100
50
modified list : [40, 60, 100, 50]

6)Store a list of first names. Count the occurrences of ‘a’ within the list

In [ ]:
list1 = ["a","b","c","a","b"]
print(list1.count("b"))

2

8)Get a string from an input string where all occurrences of first character replaced with ‘$’, except first character.[eg: onion -> oni$n]

In [ ]:
def change_char(str1):
 char=str1[0]
 str1=str1.replace(char,'$')
 str1=char+str1[1:]
 return str1
print(change_char('onio_'))

oni$_

9)Create a string from given string where first and last characters exchanged.   [eg: python -> nythop]

In [ ]:
a=input("enter a string:")
print("new string:")
print(a[-1]+a[1:1]+a[0])

enter a string:python
new string:
np

15)Print out all colors from color-list1 not contained in color-list2.

In [ ]:
list1 = ["White", "Black", "Red"]
list2 = ["Red", "Green"]
mylist = list1 + list2
mylist = list(dict.fromkeys(mylist))
print(mylist)

['White', 'Black', 'Red', 'Green']